html {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  width: 100%;
  font-family: sans-serif;
  color: #020202;
  background-image: linear-gradient(#ffffff 124px, #058294);
}

body {
  margin: 0;
}

header,
main {
  max-width: 70%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  height: calc(72px + 2.5em);
}

header a {
  color: inherit;
  text-decoration: none;
}

.club-logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

header .club-logo {
  flex: 2;
}

.logo-text {
  font-family: "Roboto Slab", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 1;
}

/* #logo {
    height: 70px;
    aspect-ratio: 1106 / 1754;
}

 h1 {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    color: #058294;
}

#title-uoft {
    color: #ffffff;
    font-size: 22px;
    background-color: #058294;
    border: 0;
    border-radius: 12px;
    margin-top: 2px;
    padding: 2px 0;
} */

.ea-logo {
  height: 72px;
  aspect-ratio: 1106 / 1754;
}

.title-effective {
  font-weight: 600;
}

.title-uoft {
  color: #058294;
}

nav {
  flex: 5;
  font-family: Roboto, sans-serif;
}

nav ul {
  font-size: 24px;
}

nav ul,
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hover-animate-blue:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#main-pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subpages {
  display: none;
}

#get-involved {
  padding: 6px 15px;
  border: 0;
  border-radius: 20.5px;
  background-color: #058294;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#get-involved-arrow {
  display: flex;
  height: 12px;
  width: 10px;
  justify-content: center;
  align-items: center;
}

.hover-animate-blue {
  display: inline-block;
  position: relative;
}

.hover-animate-blue:hover {
  color: #058294;
}

.hover-animate-blue::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0;
  bottom: 0;
  left: 0;
  border: 1.5px solid #058294;
  border-radius: 1.5px;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

#get-involved:hover {
  background-color: hsl(188, 93%, 35%);
}

main {
  width: 100%;
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 1.5em 0;
  font-size: 18px;
}

#footer-white-background {
  width: 35%;
  min-width: 600px;
  max-width: 700px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 90%);
  display: grid;
  grid-template-rows: 1.5em 1fr 1.5em;
  grid-template-columns: repeat(5, 1fr);
}

#footer-area {
  padding: 1em;
}

#logo-socials {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-newsletter {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

#socials {
  display: flex;
}

#socials a {
  display: flex;
}

#socials img {
  display: inline-block;
  height: 32px;
  width: 32px;
  padding: 10px 10px 0;
}

footer a {
  font-family: Roboto;
  color: black;
}

#email {
  display: flex;
  align-items: center;
  gap: 4px;
}

#email-icon {
  height: 24px;
  width: 24px;
}

#email:hover {
  text-decoration: none;
  color: #058294;
}

.footer-border-link {
  padding: 7.5px 15px;
  border: 3px solid black;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
}

.footer-border-link:hover {
  color: #058294;
  border-color: #058294;
}
